/* CSS doc for booking template specifically*/


.booking-page {
	background: url(../images/booking.jpg) no-repeat fixed;
	background-size:cover;
	background-position: center;
}

.blog-page {
	background: url(../images/home-blog-large.jpg) no-repeat fixed;
	background-size:cover;
}

.about-us-page {
	background-image: url(../images/about-eci-large.jpg);
	background-size:cover;
}

.consultancy-page {
	background: url(../images/consultancy.jpg) no-repeat fixed;
	background-size:cover;
	background-position: center;
}

.packages-page {
	background: url(../images/about-eci-large.jpg) no-repeat fixed;
	background-size:cover;
	background-position: center;
}



